<ion-view view-title="Done!">
  <ion-header-bar class="bar bar-subheader">
    <h2 class="title">User Login</h2>
  </ion-header-bar>
  <ion-content class="padding">
  <div class="bottom">
    <div style="float: left; width: 50%;">
      <label class="item item-input">
        <!-- <span class="input-label">First Name</span> -->
        <input type="text" name="username" id="username-textarea"
               ng-model="$parent.username" placeholder="Username (Email)">
      </label>
    </div>
    <div style="float: left; width: 50%;">
      <label class="item item-input">
        <!-- <span class="input-label">Last Name</span> -->
        <input type="password" name="password" id="password-textarea"
               ng-model="$parent.password" placeholder="Password">
      </label>
    </div>
  </div>
  <button class="button button-full" ng-click="loginFirebaseUser()">Login</button>
  <button class="button button-full" ng-click="createFirebaseUser()">Create User</button>
  </ion-content>
</ion-view>
