<ion-view view-title="Done!">
  <ion-header-bar class="bar bar-subheader">
    <h2 class="title">Starting Task</h2>
  </ion-header-bar>
  <ion-content>
  <div class="bottom">
    <br><br><br><br>
  <div align="center" style="font-size: 20px;font-weight: bold">
    PUT YOUR PHONE AWAY!
  </div>
    <br><br>
<div align = "center" style="font-size: 50px;color: #0c60ee">{{myTimerMin}} : {{myTimerSec}}</div>
    <br><br><br><br>
  </div>
    <button class="button button-full" ng-click="stopTimer()">Give up and let me use my phone</button>


  </ion-content>
</ion-view>
