<ion-view view-title="Done!" hide-back-button="true">
  <ion-header-bar class="bar bar-subheader">
    <button class="button button-icon" ng-click="goToMonth()">
      <i class="icon ion-chevron-left"></i>
    </button>
    <h2 class="title">Metrics</h2>
    <button class="button button-icon" ng-click="goToWeek()">
      <i class="icon ion-chevron-right"></i>
    </button>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="padding item item-divider">
      Daily Stats for: <input type="date" ng-model="$parent.selectedDate" ng-blur="getMetrics()">
    </div>
    <div>
      <strong>Tasks completed: </strong>{{$parent.numberCompleted}} / {{$parent.numberTasks}}<br>
      <strong>Number of Events: </strong>{{$parent.numberEvents}}<br>
      <strong>Time Spent:</strong>
    </div>
    <div ng-repeat="item in items">
      <span style="margin-left: 50px; color: {{getColor(item)}}">
        {{item.name}}: {{item.time}} mins
      </span>
      <div style="background-color: {{getColor(item)}}; width: {{getWidth(item)}}; height: 10px; border: solid"></div>
    </div>
    <div>
      <strong>Total Time: </strong>{{$parent.totalTime}} mins
    </div>
  </ion-content>
</ion-view>
