<ion-view view-title="Done!">
  <ion-header-bar class="bar bar-subheader">
    <h2 class="title">Calendar</h2>
  </ion-header-bar>
  <ion-content>
    <ion-item class="item-button-left item-button-right">
      <button class="button button-icon" ng-click="prevDate()">
        <i class="icon ion-chevron-left"></i>
      </button>
      <div>
        <h3 class="calendarDateSwitch">{{formattedDate}}</h3>
      </div>
      <button class="button button-icon" ng-click="nextDate()">
        <i class="icon ion-chevron-right"></i>
      </button>
    </ion-item>
      <ion-scroll direction="y">
        <div class="wrapper">
      <div class="calendarDayView">
        <ion-list>
          <ion-item class="calendarEvent" ng-repeat="item in events.items"  type="item-text-wrap"
                     ng-style="{'height': item.calendarHeight + 'px', 'top': item.time.getHours() * 60 + item.time.getMinutes() + 'px'}">
              <h2>{{item.name}}</h2>
          </ion-item>
        </ion-list>
      </div>
        <div class="calendarBackground">
          <div class="calendarHour">
            <div class="calendarTime">
              12:00AM
            </div>
          </div>
          <div class="calendarHour">
            <div class="calendarTime">
              1:00AM
            </div>
          </div>
          <div class="calendarHour">
            <div class="calendarTime">
              2:00AM
            </div>
          </div>
          <div class="calendarHour">
            <div class="calendarTime">
              3:00AM
            </div>
          </div>
          <div class="calendarHour">
            <div class="calendarTime">
              4:00AM
            </div>
          </div>
          <div class="calendarHour">
            <div class="calendarTime">
              5:00AM
            </div>
          </div>
          <div class="calendarHour">
            <div class="calendarTime">
              6:00AM
            </div>
          </div>
          <div class="calendarHour">
            <div class="calendarTime">
              7:00AM
            </div>
          </div>
          <div class="calendarHour">
            <div class="calendarTime">
              8:00AM
            </div>
          </div>
          <div class="calendarHour">
            <div class="calendarTime">
              9:00AM
            </div>
          </div>
          <div class="calendarHour">
            <div class="calendarTime">
              10:00AM
            </div>
          </div>
          <div class="calendarHour">
            <div class="calendarTime">
              11:00AM
            </div>
          </div>
          <div class="calendarHour">
            <div class="calendarTime">
              12:00PM
            </div>
          </div>
          <div class="calendarHour">
            <div class="calendarTime">
              1:00PM
            </div>
          </div>
          <div class="calendarHour">
            <div class="calendarTime">
              2:00PM
            </div>
          </div>
          <div class="calendarHour">
            <div class="calendarTime">
              3:00PM
            </div>
          </div>
          <div class="calendarHour">
            <div class="calendarTime">
              4:00PM
            </div>
          </div>
          <div class="calendarHour">
            <div class="calendarTime">
              5:00PM
            </div>
          </div>
          <div class="calendarHour">
            <div class="calendarTime">
              6:00PM
            </div>
          </div>
          <div class="calendarHour">
            <div class="calendarTime">
              7:00PM
            </div>
          </div>
          <div class="calendarHour">
            <div class="calendarTime">
              8:00PM
            </div>
          </div>
          <div class="calendarHour">
            <div class="calendarTime">
              9:00PM
            </div>
          </div>
          <div class="calendarHour">
            <div class="calendarTime">
              10:00PM
            </div>
          </div>
          <div class="calendarHour">
            <div class="calendarTime">
              11:00PM
            </div>
          </div>
        </div>
        </div>
      </ion-scroll>
  </ion-content>
</ion-view>
