<!--
  This template loads for the 'tab.todo-detail' state (app.js)
-->
<ion-view view-title="{{item.name}}">
  <ion-content class="padding">
    <div class="padding">
      <strong>{{item.name}}{{completedText()}}</strong><br><br>
      <strong>Time:</strong> {{displayTime()}}<br>
      <strong>Duration:</strong> {{getDuration()}}<br>
      <strong>Time Spent:</strong> {{item.timeSpent}}<br><br>
      <strong>Description:</strong>
      <p>
        {{item.description}}
      </p>
    </div>
  </ion-content>
</ion-view>
