/* Empty. Add your own CSS if you like */
.calendarDateSwitch {
  text-align: center
}

.calendarBody {
  height: 500px;
}

.calendarDayView {
  height: 500px;
}

.calendarEvent {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 60.5px;
  height: 60px;
  text-align: center;
}

.calendarBackground {
  margin-top: -360px;
}

.calendarHour {
  height: 60px;
  border-top: 1px solid #f2f2f2;
}


